body {
	font-family: "Montserrat", sans-serif;
	background-color: #f5f7fa;
	width: 960px;
	margin: auto;
 }
 
 .main-container {
	display: flex;
	flex-direction: row-reverse;
	width: 100%;
	background: #fff;
	margin: 40px 40px 0 40px auto;
	box-shadow: 6px 6px 20px;
	color: rgba(0, 0, 0, 0.5);
 }
 
 .main-container-section {
	display: flex;
	flex-direction: column;
	padding: 100px 90px;
 }
 
 .about-me-section {
	 margin: 0 0 40px 0;
 }
 
 .about-me-proffesion {
	 font-style: normal;
	 font-weight: bold;
	 font-size: 20px;
	 line-height: 17px;
	 color: black;
	 margin: 0 0 20px 0;
 }
 
 .about-me-name {
	 font-style: normal;
	 font-weight: bold;
	 font-size: 45px;
	 line-height: 55px;
	 color: black;
	 margin: 0 0 25px 0;
 }
 
 .about-me-description {
	 width: 400px;
	 font-style: normal;
	 font-weight: normal;
	 font-size: 14px;
	 line-height: 24px;
	 color: #595959;
 }
 
 .main-content-title,
 .my-code-title {
	 font-style: normal;
	 font-weight: bold;
	 font-size: 22px;
	 line-height: 27px;
	 color: black;
	 margin: 0 0 10px 0;
 }
 
 .my-projects-section {
	 margin: 0 0 50px 0;
 }
 
 .my-projects-list {
	 padding: 0 0 0 17px;
 }
 
 .my-projects-item {
	 color: #000;
	 font-weight: bold;
 }
 
 .my-projects-text {
	 font-style: normal;
	 font-weight: normal;
	 font-size: 14px;
	 line-height: 24px;
	 color: #595959;
	 margin-left: 5px;
 }
 
 .my-projects-link {
	 font-style: normal;
	 font-weight: normal;
	 font-size: 14px;
	 line-height: 24px;
	 color: #595959;
 }
 
 .my-projects-bracket {
	 font-style: normal;
	 font-weight: bold;
	 font-size: 14px;
	 line-height: 24px;
	 color: #000;
 }

 .my-code-section{
	margin: 0 0 50px 0;
 }
 
 .my-work-experience-company {
	 color: #fb6d3a;
 }
 
 .my-work-experience-position {
	 font-style: normal;
	 font-weight: bold;
	 font-size: 16px;
	 line-height: 20px;
	 margin: 0 0 10px 0;
 }
 
 .my-work-experience-period {
	 font-style: normal;
	 font-weight: normal;
	 font-size: 12px;
	 line-height: 15px;
	 color: #a8a8a8;
	 margin: 0 0 10px 0;
 }
 
 .my-work-experience-divider {
	 color: #000;
 }
 
 .my-work-experience-duties {
	 padding: 0 0 0 17px;
 }
 
 .my-work-experience-duty {
	 font-style: normal;
	 font-weight: normal;
	 font-size: 14px;
	 line-height: 24px;
	 color: #595959;
 }
 
 .my-work-experience-company-block {
	 margin: 0 0 10px 0;
 }
 
 /* sidebar-section */
 
 .sidebar-section {
	background: #1e2939;
	width: 45%;
	padding: 40px 0;
 }

 .foto {
	width: 100%;
 }
 
 .contacts-section,
 .tech-skills-section,
 .soft-skills-section,
 .languages-section {
	margin: 50px 0 0 40px;
 }
 
 .sidebar-title {
	font-style: normal;
	font-weight: bold;
	font-size: 22px;
	line-height: 27px;
	color: #fff;
	margin-bottom: 10px;
 }
 
 .contacts-section-type {
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	line-height: 24px;
	color: #fff;
	margin-right: 7px;
 }
 
 .contacts-section-link {
	color: #565f6b;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 24px;
 }
 
 .contacts-list,
 .tech-skills-list,
 .soft-skills-list,
 .languages-list {
	 padding: 0 0 0 17px;
 }
 
 .contacts-item,
 .tech-skills-item,
 .soft-skills-item,
 .languages-item {
	 color: #fb6d3a;
	 line-height: 24px;
 }
 
 .tech-skills-item-text,
 .soft-skills-item-text,
 .languages-item-text {
	color: #fff;
 }

 .footer {
	position: relative;
	width: 969px;
	height: 100px;
	background-color: #fb6d3a;
	left: -9px;
 }
 
 .footer-container-item {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
 }

 .rss-ico {
	width: 80px;
	margin: 10px;
 }

 .github-icon {
	width: 80px;
	margin: 10px;
 }

 .nav-container {
	margin: -90px 0 40px 0;
	background-color: #fb6d3a;
 }

.navigate {
	display: flex;
	align-items: center;
}

.nav-list {
	display: flex;
	justify-content: flex-end;
	list-style: none;
}

.nav-item {
	position: relative;
	margin-right: 20px;
	font-weight: bold;
	color: #fff;
	text-decoration: none;
	line-height: 1;
}

.nav-item::before {
	position: absolute;
	left: 0;
	bottom: -5px;
	width: 0;
	height: 2px;
	background-color: #fff;
	content: "";
}

.nav-item:hover:before {
	width: 100%;
}

.nav-item::before {
	transition: width 0.35s;
}